<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Examen</title>
</head>

<body>
    <div class="automoviles">
        <div class="ford">
            <h1>Ford GT</h1>
            <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, tempora?
            </P>
            <img src="/public/img/364024257_895797148576281_4035103285679320234_n.jpg" alt="">
        </div>
    </div>
</body>

</html>